* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background-image: url(https://rare-gallery.com/uploads/posts/576303-harry-potter.jpg);
}

.scren {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.texto {
    text-align: left;
    padding: 20px;
    border: 3px solid rgba(0, 0, 0, 0.849);
    width: 820px;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.7);
}

.texto h1 {
    font-size: 25px;
}

.texto h2 {
    font-size: 15px;
}

.texto h4 {
    font-size: 15px;
}

.texto p {
    margin: 15px;
}